var coinMovable = 1, coinExist = 1;
var accelerate = 2500;
var player,coin;
var power_length=1080;
var accel_walk = 0, velocity_coin = 0;
var velocity_walk = 0;
var fraction = 0;
var keyboard;
var map;
var layer;
var maxSpeed = 1100;
var lastcoinX,lastcoinY;
var lastplayerX,lastplayerY;
var isplayer_push = 0;
//objects
var spike;
//create boss
var boss;
var boss_fireball;
var fireball_created=0;
var fireball_created_time=0;
var lava_g;
var health_bar;
var fireball_time_flag=0;
//var layer2;


var maingameState = {

    create: function(){
        game.add.image(0,0,'bg');
        //create map
        map= game.add.tilemap('map'); // Create the tilemap
        // Add the tilesetto the map
        map.addTilesetImage('tile_assets');
        // Create the layer by specifying the name of the Tiled layer
        layer= map.createLayer('Layer1');
        //layer2= map.createLayer('Layer2');
        // Set the world size to match the size of the layer
        layer.resizeWorld();
        //layer2.resizeWorld();
        // Enable collisions for the first tilsetelement (the blue wall)
        map.setCollisionBetween(0,1088,true,layer,true);
        //map.setCollisionBetween(0,1088,true,layer2,true);
        game.physics.arcade.enable(map);
        //create boss
        boss = game.add.sprite(120, 450, 'boss');
        boss.animations.add('move', [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18], 12, true);
        boss.animations.play('move');
        boss.scale.x *=-1;
        boss.anchor.setTo(0.5,0.5);
        game.physics.arcade.enable(boss);
        boss_fireball = game.add.sprite(0,-100, 'fire_ball');
        boss_fireball.animations.add('move', [1,2,3,4,5,6,7,8,9,10,11,12], 5, true);
        boss_fireball.animations.play('move');
        boss_fireball.anchor.setTo(0.5,1);
        boss.body.immovable = true;
        boss.body.velocity.y =10;
        boss.immortal_time = game.time.now;
        game.physics.arcade.enable(boss_fireball);
        boss_fireball.body.gravity.y=600;
        fireball_created_time = game.rnd.integerInRange(1000, 1500);
        fireball_time_flag = game.time.now;
        lava_g = game.add.group();
        lava_g.enableBody = true;

        //game.add.image(0, 0, 'bg');
        this.cursor = game.input.keyboard.createCursorKeys();
        keyboard = game.input.keyboard.addKeys({
            'w': Phaser.Keyboard.W,
            'a': Phaser.Keyboard.A,
            's': Phaser.Keyboard.S,
            'd': Phaser.Keyboard.D
        });
        game.input.mouse.capture = true;
        game.canvas.oncontextmenu = function (e) { e.preventDefault(); }

        player = game.add.sprite(300, 500, 'player');
        player.anchor.setTo(0.5, 0.5);
        player.scale.setTo(0.7,0.7);
        player.animations.add('rightwalk', [15,16,17], 15, true);
        player.animations.add('leftwalk', [0,1,2], 15, true);
        player.animations.add('leftpull', [6,7,8], 15, true);
        player.animations.add('leftpush', [14,13,12], 15, true);
        player.animations.add('rightpush', [9,10,11], 15, true);
        player.animations.add('rightpull', [5,4,3], 15, true);
        game.physics.arcade.enable(player);
        player.body.gravity.y = 600;
        player.body.collideWorldBounds = true;
        player.body.immovable = true;
        player.body.tilePadding.x = 32;
        player.body.tilePadding.y = 32;
        player.body.maxVelocity = maxSpeed;
        player.body.velocity.x = 0;
        player.face = 'left';
        player.is_moving=false;

        coin = game.add.sprite(300, -600, 'coin');
        coin.anchor.setTo(0.5, 0.5);
        coin.scale.setTo(0.5,0.5);
        game.physics.arcade.enable(coin);
        coin.body.gravity.y = 900;
        //coin.animations.add('spin',[0,1,2,3],8,true);
        coin.frame=3;
        coin.body.collideWorldBounds = true;
        coin.body.tilePadding.x = 32;
        coin.body.tilePadding.y = 32;
        coin.body.maxVelocity = maxSpeed;
        coin_tag = game.add.sprite(-100, -100, 'coin_tag');
        game.physics.arcade.enable(coin_tag);
        coin_tag.scale.setTo(0.2,0.2);
        //add spike
        spike = game.add.sprite(0,0,'spike');
        spike.anchor.setTo(0,0);
        game.physics.arcade.enable(spike);
        spike.height = game.height;
        spike.body.immovable = true;
        //game.camera.follow(player);
        health_bar = game.add.sprite(game.camera.x+1050,game.camera.y,'health_bar');
        game.physics.arcade.enable(health_bar);
        health_bar.anchor.setTo(1,0);
        health_bar.frame=0;
        game.camera.x += 1;
        game.camera.y = player.body.y;
        boss.body.x = game.camera.x+100;
        boss.body.y = game.camera.y;
        spike.body.x=game.camera.x-70;
        spike.body.y = game.camera.y;
        
    },

    update: function(){
        game.camera.x += 1;
        game.camera.y = player.body.y;
        boss.body.x = game.camera.x+100;
        boss.body.velocity.y += game.rnd.integerInRange(-10,10);
        if(boss.body.velocity.y>100)
            boss.body.velocity.y-=100;
        if(boss.body.velocity.y<-100)
            boss.body.velocity.y+=100;
        if(boss.body.y<game.camera.y)
            boss.body.velocity.y +=10;
        if(boss.body.y>game.height)
            boss.body.velocity.y -=10;
        
       /* var x3 = coin.body.velocity.x;
        var y3 = coin.body.velocity.y;
        var line3 = Math.sqrt(x3*x3+y3*y3);
        if(line>1100){
            coin.body.velocity.x = x3*1100/line;
            coin.body.velocity.y = y3*1100/line;
        }
        x3 = player.body.velocity.x;
        y3 = player.body.velocity.y;
        line = Math.sqrt(x3*x3+y3*y3);
        if(line>1100){
            player.body.velocity.x = x3*1100/line;
            player.body.velocity.y = y3*1100/line;
        }*/
        //game.physics.arcade.collide(boss, layer,boss_turn,null,this);
        spike.body.x=game.camera.x-70;
        spike.body.y = game.camera.y;
        if(game.time.now-boss.immortal_time>1000){
            boss.tint = 0xffffff;
            boss.body.checkCollision.up = true;
            boss.body.checkCollision.left = true;
            boss.body.checkCollision.right = true;
            boss.body.checkCollision.down = true;
        }      

        centerPlayerX = player.body.x + 32.5;
        centerPlayerY = player.body.y + 43;

        coin_tag.body.x = player.body.x+player.width/2;
        coin_tag.body.y = player.body.y-20;

        health_bar.body.x = game.camera.x+1000;
        health_bar.body.y = game.camera.y;

        game.physics.arcade.collide(player, layer);
        game.physics.arcade.collide(coin, layer);
        game.physics.arcade.collide(player, spike,hit_spike,null,this);
        game.physics.arcade.collide(player, lava_g,hit_lava,null,this);
        game.physics.arcade.collide(coin, boss,hit_boss,null,this);
        //game.physics.arcade.collide(player, layer2, hurt, null, this);
        //game.physics.arcade.collide(coin, layer2);
        //this.physics.arcade.overlap(player, layer2, hurt, null, this);
        //fireball
        if (fireball_created==0){
            if(game.time.now - fireball_time_flag > fireball_created_time)
                create_fireball();
        }
        update_fireball();
        update_lava();
       
        player.is_moving=false;
        this.physics.arcade.overlap(player, coin, takeCoin, null, this);
        if(keyboard.w.isDown){
            player.is_moving=true;
            if(player.body.onFloor())
                player.body.velocity.y = -420;
        }
        if (keyboard.a.isDown) {
            player.is_moving=true;
            velocity_walk = -320;
            player.animations.play('leftwalk');
            player.face = 'left';
        }
        else if (keyboard.d.isDown) {
            player.is_moving=true;
            velocity_walk = 320;
            player.animations.play('rightwalk');
            player.face = 'right';
        }
        else {
            velocity_walk = 0;
            accel_walk = 0;           
        }
        if(game.input.activePointer.leftButton.isDown){   
            player.is_moving=true;        
            if(coinExist){
                coin_tag.kill();
                push();   
            }
            else{
                createCoin();
                coinExist = 1;
            }          
        }
        else{
            ispush = 0;
            pushing = 0;
            coin.body.gravity.y = 900;
            player.body.gravity.y = 600;
            if(game.input.activePointer.rightButton.isDown){
                player.is_moving=true;
                if(coinExist){
                    coin_tag.kill();
                    pull();
                }
            }
            else{
                ispull = 0;
                player.body.acceleration.y = 0;
                coin.body.acceleration.x = 0;
                coin.body.acceleration.y = 0;
            }
        }
        player.body.velocity.x = (velocity_coin+velocity_walk);
        velocity_coin *= 0.95;
        player.body.velocity.y *= 0.99;

        lastcoinX = coin.body.x;
        lastcoinY = coin.body.y;

        lastplayerX = player.body.x;
        lastplayerY = player.body.y;

        if(player.is_moving == false){
            if(player.face == 'left')
                player.frame = 0;
            else                
                player.frame = 15;
        }
        if(player.body.x<game.camera.x)
            player.body.x=game.camera.x;
        if(player.body.x>game.camera.x+1215)
            player.body.x=game.camera.x+1215;

        if(coin.body.velocity.x != 0 || coin.body.velocity.y != 0 )
            //coin.animations.play('spin');
            coin.body.angularVelocity = 3000;
        else
            coin.body.angularVelocity = 0;
        //coin.animations.stop();
        if(health_bar.frame>=1)
            game.state.start('lose');
    }
};
//create fireball
function create_fireball(){
    console.log('fire ball');
    boss_fireball = game.add.sprite(boss.body.x+game.rnd.integerInRange(200,1280), 20, 'fire_ball');
    boss_fireball.animations.add('move', [1,2,3,4,5,6,7,8,9,10,11,12], 5, true);
    boss_fireball.animations.play('move');
    boss_fireball.anchor.setTo(0.5,1);
    boss_fireball.width = 50;
    boss_fireball.height = 100;
    game.physics.arcade.enable(boss_fireball);
    boss_fireball.body.gravity.y=500;
    fireball_created=1;
    fireball_created_time = game.rnd.integerInRange(200, 500);
}
function update_fireball(){
    game.physics.arcade.collide(player, boss_fireball,touch_fireball,null,this);
    game.physics.arcade.collide(layer, boss_fireball,fireball_out,null,this);
    if( boss_fireball.body.y > game.height+boss_fireball.height+100 && fireball_created==1){
        console.log('ball drop');
        boss_fireball.kill();
        fireball_created=0;
        fireball_time_flag = game.time.now;
    }

}
function touch_fireball(){
    console.log('ball touch player');
    health_bar.frame+=1;
    fireball_created=0;
    boss_fireball.kill();
    fireball_time_flag = game.time.now;
}
function fireball_out(){
    create_lava(boss_fireball.body.x,boss_fireball.body.y+boss_fireball.height);
    console.log('ball touch ground');
    fireball_created=0;
    boss_fireball.kill();
    fireball_time_flag = game.time.now;
}

function create_lava(x,y){
    var lava = game.add.sprite(x,y,'lava',0,lava_g);
    game.physics.arcade.enable(lava);
    lava.width = 60;
    lava.height = 15;
    lava.enableBody = true;  
    lava.anchor.setTo(0.5,1);
    lava.body.immovable = true;
    lava.animations.add('boil',[1,2,3,4,5,6,7],15,true);
    lava.animations.play('boil');
    lava.create_time = game.time.now;
}

function update_lava(){
    lava_g.forEach(element => {
        if(game.time.now - element.create_time >3000){
            element.kill();
            console.log('lava kill');
            element.create_time = game.time.now;
        }
    });
}

function hit_lava(player,lava){
    health_bar.frame+=1;
    lava.kill();
    game.camera.flash(0xff0000, 1000);  
}

function hit_spike(){
    health_bar.frame+=1;
    game.camera.flash(0xff0000, 1000);    

}

function hit_boss(){
    //game.camera.flash(0xfff000, 1000);    
    boss.tint = 0xff0000;
    boss.body.checkCollision.up = false;
    boss.body.checkCollision.left = false;
    boss.body.checkCollision.right = false;
    boss.body.checkCollision.down = false;
    boss.immortal_time = game.time.now;
}

function hurt(){
    health_bar.frame+=1;
    game.camera.flash(0xff0000, 1000);    
}

function takeCoin(){
    if(!pushing){
        coin_tag = game.add.sprite(0, 0, 'coin_tag');
        game.physics.arcade.enable(coin_tag);
        coin_tag.scale.setTo(0.3,0.3);
        coin_tag.anchor.setTo(0.5,0.5);
        coin.kill(); 
        coinMovable = 0;
        coinExist = 0;
    }  
}

function createCoin(){
    var mouseX = game.input.activePointer.x + game.camera.x - centerPlayerX;
    var mouseY = game.input.activePointer.y + game.camera.y - centerPlayerY;
    var line2 = Math.sqrt(mouseX*mouseX+mouseY*mouseY);
    var x2 = centerPlayerX + 10*mouseX/line2;
    var y2 = centerPlayerY + 10*mouseY/line2;
    coin = game.add.sprite(x2, y2, 'coin');
    coin.anchor.setTo(0.5, 0.5);
    coin.scale.setTo(0.5, 0.5);
    //coin.animations.add('spin',[0,1,2,3],8,true);
    coin.frame=3;
    game.physics.arcade.enable(coin);
    coin.body.velocity.x = 300*mouseX/line2+player.body.velocity.x;
    coin.body.velocity.y = 300*mouseY/line2+player.body.velocity.y;

    coin.body.gravity.y = 900;
    coin.body.tilePadding.x = 32;
    coin.body.tilePadding.y = 32;
    coin.body.maxVelocity = maxSpeed;
}


function push(){
    if(player.face == 'left')  
        player.animations.play('leftpush');
    else     
        player.animations.play('rightpush');
    pushing = 1;
    var x = coin.body.x - centerPlayerX +22.75;
    var y = coin.body.y - centerPlayerY +21.75;
    var line = Math.sqrt(x*x+y*y);
    if(line<power_length){
        x *= 1000; y *= 1000;
        line *= 1000;
        var accel_x = accelerate * x/line;
        var accel_y = accelerate * y/line;
        coin.body.gravity.y = 0;

        if(ispush){
            if(lastcoinX == coin.body.x || lastcoinY == coin.body.y){
                if(isplayer_push){
                    if(lastplayerX == player.body.x){
                        velocity_coin = 0;
                    }
                    else{
                        velocity_coin += -accel_x/40;
                    }
                    coin.body.velocity.x = 0;
                    coin.body.acceleration.x = 0;
                    coin.body.velocity.y = 0;
                    coin.body.acceleration.y = 0;
                    player.body.velocity.y += -accel_y/40;   
                }
                else{
                    coin.body.velocity.x = 0;
                    coin.body.acceleration.x = 0;
                    velocity_coin += -accel_x/40;
                    coin.body.velocity.y = 0;
                    coin.body.acceleration.y = 0;
                    player.body.velocity.y += -accel_y/40;
                    isplayer_push = 1;
                }
            }
            else{
                coin.body.acceleration.x = accel_x;
                coin.body.acceleration.y = accel_y;
                isplayer_push = 0;
            }
        }
        else{
            coin.body.acceleration.x = accel_x;
            coin.body.acceleration.y = accel_y;
            ispush = 1;
            isplayer_push = 0;
        }
    }
    else{
        coin.body.gravity.y = 900;
        player.body.gravity.y = 600;
        coin.body.acceleration.x = 0;
        coin.body.acceleration.y = 0;
    }
}

function pull(){
    if(player.face == 'left')  
        player.animations.play('leftpull');
    else     
        player.animations.play('rightpull');
    var x = coin.body.x - centerPlayerX +22.75;
    var y = coin.body.y - centerPlayerY +21.75;
    var line = Math.sqrt(x*x+y*y);
    if(line<power_length){
        x *= 1000; y *= 1000;
        line *= 1000;
        var accel_x = -accelerate * x/line;
        var accel_y = -accelerate * y/line;

        if(ispull){
            if(lastcoinX == coin.body.x || (y<0 && coin.body.onFloor())){
                coin.body.velocity.x = 0;
                coin.body.acceleration.x = 0;
                velocity_coin += -accel_x/40;
            }
            else{
                coin.body.acceleration.x = accel_x;
            }
            if(lastcoinY == coin.body.y){
                coin.body.velocity.y = 0;
                coin.body.acceleration.y = 0;
                player.body.velocity.y += -accel_y/40;
            }
            else{
                coin.body.acceleration.y = accel_y;
            }
        }
        else{
            coin.body.acceleration.x = accel_x;
            coin.body.acceleration.y = accel_y;
            ispull = 1;
        }
    }
    
}


